# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
.env/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db